<script setup lang="ts">
import { computed } from '@vue/reactivity';
import { ComputedRef, Ref, ref } from 'vue';

const textContent: Ref<string> = ref('')
const textToCheck: Ref<string> = ref('')

const mustPresentTexts: ComputedRef<{ text: string, exists: boolean }[]> = computed(() => {
  const payload = textToCheck.value
    .split(',')
    .map(text => text.trim())
    .filter(text => text.length > 2)
    || []


  return payload.map(text => ({
    text,
    exists: textContent.value.toLowerCase().includes(text.toLowerCase())
  }))
})

const removeMustPresentText: Function = (filteredText: string): void => {
  textToCheck.value = mustPresentTexts.value
    .filter(payload => payload.text !== filteredText)
    .map(({ text }) => text)
    .join(', ')
}

const textContentParsed: ComputedRef<string> = computed(() => {
  let paragraphs = textContent.value

  for (const payload of mustPresentTexts.value) {
    const regex = new RegExp(`${payload.text}`, 'gi')
    const foundTexts = paragraphs.matchAll(regex)

    for (const text of foundTexts) {
      paragraphs = paragraphs.replaceAll(`${text}`, `<span class="bg-yellow-200">${text}</span>`)
    }
  }

  return paragraphs
})
</script>

<template>
  <div class="container mx-auto p-4">
    <div class="flex flex-col-reverse md:flex-row gap-3">
      <div class="basis-full md:basis-3/4">
        <textarea rows="4" name="comment" id="comment" v-model="textContent"
          class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />
        <div class="relative mt-3" v-html="textContentParsed" />
      </div>
      <div class="basis-full md:basis-1/4">
        <div
          class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
          <label for="text"
            class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900">Texts</label>
          <input type="text" name="text" id="text" v-model="textToCheck"
            class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
            placeholder="biologi,daun,mangga" />
        </div>
        <div class="border border-gray-300 rounded-md mt-2 h-80 overflow-y-auto">
          <div v-for="({ text, exists }) in mustPresentTexts" class="w-100 text-center my-2">
            <span
              class="inline-flex transition-all rounded-full items-center mx-auto py-0.5 pl-2.5 pr-1 text-sm font-medium hover:bg-red-100 hover:text-red-700"
              :class="exists ? ['bg-green-100', 'text-green-700'] : ['bg-indigo-100', 'text-indigo-700']">
              {{ text }}
              <button type="button" @click="removeMustPresentText(text)"
                class="flex-shrink-0 ml-0.5 h-4 w-4 rounded-full inline-flex items-center justify-center text-red-400 hover:bg-red-200 hover:text-red-500 focus:outline-none focus:bg-red-500 focus:text-white">
                <span class="sr-only">Remove large option</span>
                <svg class="h-2 w-2" stroke="currentColor" fill="none" viewBox="0 0 8 8">
                  <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
                </svg>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
</style>
